# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Global settings (applies to all files if not overridden)
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

# Specific settings for JavaScript and JSON files
[*.js]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 90

[*.json]
indent_style = space
indent_size = 4
tab_width = 4

# Settings for markdown files (optional)
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4
tab_width = 4

# Settings for YAML files (optional)
[*.yml, *.yaml]
indent_style = space
indent_size = 2
tab_width = 2
