#resources {
    background-color: #e6fdfd;
    padding: 20px;
}

#resources .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#resources h1, #resources h2 {
    color: #333;
}

#resources p {
    color: #555;
    margin-bottom: 20px;
}

.resources-list {
    list-style-type: none;
    padding: 0;
}

.resources-list li {
    margin: 10px 0;
}

.resources-list a {
    color: #0288d1;
    text-decoration: none;
    transition: color 0.3s;
}

.resources-list a:hover {
    color: #e51616;
   transform: scale(1.2);
}

.paragraph-styling{
    color: #9a0383;
    font-size: 18px;
}

.gradient-superheading{
    margin-top: 20px;
    font-size: 36px; /* Adjust font size as needed */
    text-align: center;
    font-weight: bolder;
    background-clip: border-box;
    background: linear-gradient(#54f0ea, #ea38c9, rgb(244, 236, 83)); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Make the text itself transparent */
  }
