#solutions {
    padding: 50px;
    background-color: #ffffff;
}

#solutions h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#solutions p {
    text-align: center;
    color: #777777;
    font-size: 18px;
    margin-bottom: 40px;
}

.solutions-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.solution {
    background:linear-gradient(-45deg,#fe92ea,#f4f74f,hsl(180, 85%, 53%));
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.solution h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.solution p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

.solution .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.solution .btn:hover {
    background-color: #026aa7;
}

.solution:hover {
    transform: scale(1.2);
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .solutions-grid {
        flex-direction: column;
        align-items: center;
    }
}

p.solution-grid-p {
    color: #494949  !important;
}

